

.list {	
	

	.search {
	
		
		svg{
			right: 10px;
		    top: 10px;
		    position: absolute;
		    z-index: 4;
			
		}
		input {
			height: 30px;
			border-radius: 0;
			box-shadow: none;
		}
	}
}
 
