	/********   HEADER ************/

	thead{
        font-weight: bold;
		
		
		td {
			padding: 0;
		}
		
		a {
			color: black!important;
			user-select: none;
			text-decoration:none;
		}
		
		
		a.ASC:after  {
			content:" ▲";	
		}
		
		a.DESC:after  {
			content:" ▼";
		}
		
    }
	
	